body{
    background: rgb(72, 70, 70)
}
.intro {
    font-size: 20px;
    font-weight: bold;
    color: #ffd200;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #cccdb2;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
} 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #000;
    cursor: pointer;
    z-index: 3
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    z-index: 3
}
/* for div with id selector, can put "value" with a decorative button
#selector{
    height:64px;
    width: 48px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2
}*/
#value {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background: #ffd200;
    border-radius: 4px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    font-weight: bold;
}
#value::after{
    content: '';
    border-top: 17px
}

#bar{
    width: 50%;
    height: 7px;
    background: #ffd200;
    border-radius: 3px;
    position: absolute;
    top: 5;
    left: 0
}